.wrap-button {
  display: flex;
  font-family: Poppins;
  font-style: normal;
  border: none;
}

.primary {
  background-color: #dedede;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  border-radius: 15px;
  padding: 0 30px;

  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.secondary {
  background-color: transparent;
  color: #dedede;
  border: none;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    border-bottom: 2px solid #dedede;
  }

  @media screen and (max-width: 573px) {
    padding: 0;
  }
}