.wrap-button {
  display: flex;
  border-radius: 15px;
  font-family: Poppins;
  font-style: normal;
  padding: 0 30px;
}

.primary {
  background-color: #dedede;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 700;
  color: #121212;

  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}

.secondary {
  background-color: transparent;
  color: #dedede;
  border: none;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    text-underline-offset: 8px;
    text-decoration: underline;
  }

  @media screen and (max-width: 573px) {
    padding: 0;
  }
}