@import '../../assets/styles/variables.scss';

.hero-container {
  display: flex;
  flex-direction: row;
  padding: 90px 0 100px;

  @media screen and (max-width: $tablet) {
      flex-direction: column;
      padding: 60px 0 0 0;
  }
}

.wrap-hero {
  display: flex;
  flex-direction: column;
  padding: 0 120px 0 0;
  width: 100%;

  @media screen and (max-width: $mobileL) {
    padding: 0;
  }
}

.hero-image {
  background-image: url('../../assets/img/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 475px;
  width: 100%;
}

.hero-title {
  color: $white-dark;
  font-family: $font-family-Playfair;
  font-size: $font-size-52;
  // font-style: normal;
  font-weight: $font-weight-600;
  line-height: 65px;
  word-wrap: break-word;
  padding-bottom: 20px;

  .hero-title__job1 {
    background: $gradient-orange;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-title__job2 {
    background: $gradient-purple;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero-subtitle {
  align-self: stretch;
  color: $white-dark;
  font-size: $font-size-17;
  font-style: normal;
  font-weight: $font-weight-300;
  line-height: 24px;
  padding: 0 0 60px 0;
}

.hero-actions {
  display: flex;
  gap: 20px;

  @media screen and (max-width: $mobileL) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}