.clients-container {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  .clients-title {
    color: #dedede;
    font-family: Playfair Display;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }

    .clients-beauty {
      background: linear-gradient(90deg, #3A1CF5 25.02%, #DE114B 43.65%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .client-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;   

    @media screen and (max-width: 768px) {
        padding: 16px;
    }
  }

  .client-item {
    @media screen and (max-width: 768px) {
      max-width: 100px;
      height: auto;
    }
  } 

  .btn-more_clients {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;

    @media screen and (max-width: 768px) {
        padding: 0;
    }
  }
}