.wrap-anchor {
  border-radius: 15px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  color: #dedede;
  text-decoration: none;

  &:hover {
    text-underline-offset: 6px;
    text-decoration: underline;

     i {
      border-bottom: 1px solid #dedede;
      font-weight: 700;
     }
  }
}