@import '../../assets/styles/variables.scss';

.wrap-anchor {
  font-family: $font-family-Poppins;
  font-size: $font-size-17;
  font-style: normal;
  font-weight: $font-weight-700;
  height: 30px;
  color: $white-dark;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $white-dark;
  }
}