.wrap-anchor {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  color: #dedede;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid #dedede;
  }
}