@import '../../assets/styles/variables.scss';

.header-container {
  display: flex;
  padding: 50px 0px 30px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $mobileL) {
    flex-direction: column;
    gap: 25px;
}
}

.profile-name {
  font-family: $font-family-Playfair;
  font-size: $font-size-24;
  font-style: normal;
  font-weight: $font-weight-500;
  line-height: normal;
}

.nav-menu {
  display: flex;
  gap: 30px;

  @media screen and (max-width: $mobileL) {
      flex-wrap: nowrap;
  }
}

.nav-btn {
  margin: 0 15px 0 15px;
}

.header-lang {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
}