.header-container {
  display: flex;
  padding: 50px 0px 30px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 573px) {
    flex-direction: column;
    gap: 25px;
}
}

.profile-name {
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-menu {
  display: flex;

  @media screen and (max-width: 573px) {
      flex-wrap: nowrap;
      gap: 30px;
  }
}

.nav-btn {
  margin: 0 15px 0 15px;
}