.carousel-container {
  overflow: hidden;
  padding: 50px 100px;
  background: linear-gradient(101deg, rgba(139, 92, 246, 0.20) 7.97%, rgba(236, 72, 153, 0.20) 92.85%);
  margin: 0 -100px 50px -100px;
  max-width: calc(100% + 200px);

  @media screen and (max-width: 768px) {
    margin: 0 -50px 50px -50px;
    padding: 50px;
  }

  @media screen and (max-width: 425px) {
    margin: 0 -30px 50px -30px;
    padding: 30px;
  }
}

.carousel-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #dedede;
  font-family: Playfair Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 20px;
}

.carousel-title-beauty {
  background: linear-gradient(90deg, #FF9F24 39.95%, #F74F0E 77.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.carousel-wrap-img {
  position: relative;

  .carousel-img__description {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(134, 128, 154, 0.60);
    border-radius: 10px;
    text-align: center;
    line-height: 20rem;
    word-break: break-word;
    color: #121212;
    font-family: Playfair Display;
    font-size: 40px;
    font-weight: 900;
    opacity: 0;
    
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
  
  .carousel-img {
    padding: 20px;
  
    &:hover {
      opacity: .5;
    }
  }
}