@import '../../assets/styles/variables.scss';

.service-backgroung {
  background: $gradient-blue-dark;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 0 100px 0 100px;
  overflow: auto;

  @media screen and (max-width: $tablet) {
      padding: 0 50px 0 50px;
  }

  @media screen and (max-width: $mobile) {
      padding: 0 30px 0 30px;
  }
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 110px;
  border-radius: 10px;
  background: $grey;
  backdrop-filter: blur(2px);
}

.service-title {
  text-align: center;
  font-family: $font-family-Playfair;
  font-size: $font-size-52;
  font-style: normal;
  font-weight: $font-weight-600;
  line-height: 65px;
  background: $gradient-orange;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service-subtitle {
  color: $white-dark;
  text-align: center;
  font-family: $font-family-Poppins;
  font-size: $font-size-17;
  font-style: normal;
  font-weight: $font-weight-300;
  line-height: 24px;
}